CLIENT_ID= # set during the application is created
CLIENT_SECRET= # create in the "Credentials" page of the application configuration
TENANT_ID= # This Tenant ID can be found in Developer Portal for all the companies that has approved your applications access.
